@function getRem($pixel) {
  @return $pixel/200*1rem;
}
@function getRemFour($top, $right, $bottom, $left) {
  @return $top/200*1rem $right/200*1rem $bottom/200*1rem $left/200*1rem;
}
@keyframes example {
  margin-left: getRem(200);
}

//省略号
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.reactPlayer {
  width: 100%;
  height: 100%;
  background: #ccc;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.traHomeContent {
  background: #fff;
  color: #fff;
  article {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    z-index: 2;
    padding-left: getRem(100);
    padding-right: getRem(50);
    nav {
      width: 100%;
      height: getRem(100);
      padding: getRem(20) 0;
      .logo {
        width: getRem(100);
      }
      .navbarNav {
        display: inline-block;
        float: right;
        li {
          float: left;
          padding: getRem(10);
          position: relative;
          a {
            display: block;
            font-size: getRem(16);
            line-height: getRem(24);
            color: #fff;
          }
          .selectLanguage {
            font-size: getRem(16);
            line-height: getRem(24);
            color: #fff;
            cursor: pointer;
            ul {
              display: none;
              position: absolute;
              top: getRem(40);
              left: getRem(-25);
              background: rgba(0, 0, 0, 0.5);
              padding: getRem(20);
              border-radius: getRem(5);
              width: getRem(130);
              li {
                float: none;
                padding: getRem(10) 0;
                text-align: center;
              }
            }
          }
        }
      }
    }
    .traTitle {
      margin-top: getRem(150);
      h1 {
        font-size: getRem(60);
        color: #F5AD42;
        font-weight: 400;
      }
      p {
        font-size: getRem(36);
      }
      span {
        font-size: getRem(26);

      }
    }
    .transactionOkex {
      position: absolute;
      bottom: getRem(80);

      .details {
        a {
          display: inline-block;
          font-size: getRem(25);
          color: #fff;
        }
        span {
          display: inline-block;
          font-size: getRem(25);
          &:nth-of-type(2) {
            color: #F5AD42;
            margin-left: getRem(10);
          }
        }
      }
      .traPrice {
        div {
          display: inline-block;
          span {
            font-size: getRem(20);
            &:nth-of-type(2) {
              color: #F5AD42;
              margin-right: getRem(10);
            }
          }
        }
      }
    }
    .homeCooperation {
      position: absolute;
      right: getRem(60);
      bottom: getRem(80);
      a {
        display: inline-block;
        padding-right: getRem(20);
        img {
          width: getRem(40);
          height: getRem(40);
          display: block;
        }
      }
      p {
        font-size: getRem(16);
        margin-top: getRem(10);
      }
    }
  }
  .mongoliaLayer {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
  }
  .back {
    background: url('../assets/header.jpg') no-repeat;
    background-position: left center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 0;
  }
  @media only screen and (max-width: 480px) {
    article {
      padding-left: getRem(20);
      padding-right: getRem(20);
      .transactionOkex {
        bottom: getRem(20);
        .details {
          span {
            display: inline-block;
          }
        }
        .traPrice {
          div {
            display: block;
          }
        }
      }
      .homeCooperation {
        bottom: getRem(100);
        right: 0;
      }
      .navbarNav {
        .selectLanguage {
          ul {
            width: getRem(160) !important;
          }
        }
      }
    }
  }
  .offerList {
    text-align: center;
    position: relative;
    z-index: 2;
    overflow: hidden;
    h1 {
      font-size: getRem(36);
      text-align: center;
      margin-top: getRem(140);
      margin-bottom: getRem(50);
    }
    nav {

    }
    main {
      width: getRem(975);
      display: inline-block;
      margin: 0 auto;
      text-align: center;
      a {
        width: getRem(225);
        height: getRem(150);
        display: block;
        border-radius: getRem(4);
        position: relative;
        z-index: 0;
        overflow: hidden;
        float: left;
        vertical-align: text-top;
        img {
          width: 100%;
          height: 100%;
          display: block;
          float: left;
          transition: all 6s;
          &:hover {
            transform: scale(1.2);
          }
        }
        &:nth-of-type(1), &:nth-of-type(8) {
          width: getRem(472);
          height: getRem(317);
        }
        &:nth-of-type(6), &:nth-of-type(7) {
          width: getRem(224);
          height: getRem(317);
          margin-top: getRem(25);
          margin-right: getRem(25);
        }
        &:nth-of-type(2), &:nth-of-type(4) {
          margin-right: getRem(25);
          margin-left: getRem(25);
        }
        &:nth-of-type(2), &:nth-of-type(3){
          margin-bottom: getRem(17);
        }
        &:nth-of-type(6) {
          clear: both;
          // margin-right: getRem(23);
        }
        &:nth-of-type(8) {
          margin-top: getRem(25);
        }
        .make {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 1;
          background: rgba(0,0,0,.2);
          pointer-events: none;
        }
        .name {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 10;
          pointer-events: none;
          p {
            text-align: center;
            font-size: getRem(20);
            color: #fff;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
  @media only screen and (max-height: 800px) {
    .offerList {
      h1 {
        margin-top: getRem(20);
        margin-bottom: getRem(10);
      }
    }
  }
  .offerBack {
    position: absolute;
    top: 0;
    background: url('http://simg1.zhubaijia.com/1469588027/kuZXfGDwGA7aUnbABUrwnwT3yu9oeKgN.jpg')  no-repeat;
    background-position: left center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: all ease-in .9s;
  }
  .offerBackMk {
    background: rgba(255, 255, 255,0.8);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
