@function getRem($pixel) {
  @return $pixel/200*1rem;
}
@function getRemFour($top, $right, $bottom, $left) {
  @return $top/200*1rem $right/200*1rem $bottom/200*1rem $left/200*1rem;
}

.signContain {
  margin-top: getRem(100);
  header {
    width: getRem(720);
    height: getRem(76);
    line-height: getRem(76);
    border: 1px solid #ddd;
    background: #fff;
    padding: 0 getRem(24);
    margin: 0 auto;
  }
  section {
    width: getRem(720);
    background: #fff;
    position: relative;
    margin: getRem(20) auto;
    border: 1px solid #d9d9de;
    border-radius: getRem(5);
    text-align: center;
    padding: getRem(40) 0;
    p {
      width: getRem(650);
      height: getRem(70);
      border-radius: getRem(12);
      margin: 0 auto getRem(20) auto;
      background: #fff;
      border: 1px solid #ddd;
      overflow: hidden;
      box-sizing: border-box;
      position: relative;
      input {
        width: 100%;
        height: getRem(70);
        padding: getRem(10) getRem(20);
        border: 0;
        bottom: 0;
        box-sizing: border-box;
        font-size: getRem(20);
      }
      &:nth-of-type(2) {
        border: 0;
        overflow: hidden;
        .getCaptchText {
          width: getRem(380);
          border: 1px solid #ddd;
          border-radius: getRem(12);
        }
        .getCaptch {
          width: getRem(250);
          margin-left: getRem(20);
          border: 1px solid #ddd;
          background-image: linear-gradient(to top, #f5f5f5, #fff);
          vertical-align: top;
          border-radius: getRem(12);
        }
      }

    }
    .btnLogin {
      width: getRem(650);
      height: getRem(90);
      border-radius: getRem(20);
      background: #00a1d6;
      color: #fff;
      font-size: getRem(30);
      line-height: getRem(90);
      text-align: center;
    }
  }
}
